
# Python build files
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*~.py
.Python

# 日志
logs/
*.log

# 表格文件
form/

# 临时图片
temp/

# 意外文件
src/*.json
src/*.log

# 本地配置文件
config/window_config.ini

# 句柄文件
config/handles.json